<main>
  <aside>
    <svg />
    <h5>Sed eget massa ante. Vestibulum nulla nunc, auctor ac sem id, mollis efficitur lacus. Aliquam erat volutpat. Suspendisse viverra mi sit amet cursus pulvinar. Cras suscipit nunc eu nibh tempus, quis tincidunt sem eleifend.</h5>
  </aside>
  <section>
    <header>
      <h1>Title</h1>
      <nav>
        <a href="/"><svg /></a>
        <a href="/account/"><svg /></a>
      </nav>
    </header>
    <article>
      {{outlet}}
    </article>
    <footer>
      <h6>Lorem ipsum dolor sit amet.</h6>
    </footer>
  </section>
</main>